@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav {
  display: flex;
  background: #aedbce;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  align-items: center;
  padding: 0 6rem;
}
/* .nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
  text-decoration: none;
} */
.nav ul li {
  float: left;
  display: flex;
  padding: 25px;
  text-decoration: none;
}

.foot {
  display: flex;
  background: #aedbce;
  justify-content: center;
  color: rgb(0, 0, 0);
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
